{% extends "layout/settings.html" %}

{% block content %}
<h2 class="page-title">
  {% if current_user.role > 0 %}
  <button type="button" class="btn btn-outline-primary btn-sm float-end" data-bs-toggle="modal"
    data-bs-target="#editModal"><i class="bi bi-plus-lg"></i></button>
  {% endif %}
  My projects
</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4 mb-4">
  {% for project in projects %}
  <div class="col">
    <form action="#!" method="post" class="card card-project{% if project.isadmin %} project-admin{% endif %}">
      <input type="hidden" name="id" value="{{ project.id }}" />
      <div class="card-header {{ project.class }}">
        {% if project.isadmin %}
        <a href="#!" class="btn btn-action btn-project-edit pt-2 pe-0 float-end" data-id="{{ project.id }}"><i class="bi bi-pencil-fill"></i></a>
        {% endif %}
        <h5 class="card-title pt-1"><a href="#!" class="btn-project-info pt-1">{{ project.title }}</a></h5>
      </div>
      <div class="card-body pb-2">
        {% if project.start or project.deadline or project.budget %}
        <div class="project-more text-muted pb-3">
          {{ project.start or '<i class="bi bi-three-dots text-muted"></i>' | safe }}
          <i class="bi bi-caret-right-fill opacity-75"></i>
          {{ project.deadline or '<i class="bi bi-three-dots text-muted"></i>' | safe }}
          {% if project.budget %}
          <div class="float-end"><i class="bi bi-piggy-bank pe-1"></i>{{ project.budget | format_number }}</div>
          {% endif %}
        </div>
        {% endif %}
        <h5>Lists</h5>
        <ul class="project-lists{% if project.isadmin %} project-dragula{% endif %}">
          {% for list in project.lists %}
          <li class="project-lists-item">
            {% if project.isadmin %}
            <i class="bi bi-grip-vertical gu-handle py-2 pe-1"></i>
            <input type="text" class="form-control form-control-plaintext" value="{{ list.title }}" />
            <button type="button" class="btn btn-action"><i class="bi bi-trash"></i></button>
            <!-- TODO disable button if list has tasks -->
            {% else %}
            <span class="py-2 flex-grow-1">{{ list.title }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% if project.isadmin %}
        <div class="d-flex mb-3" style="margin-top:-.75em">
          <input type="text" class="form-control border-0" value="" placeholder="Create new list" />
          <button type="submit" class="btn btn-action"><i class="bi bi-plus-circle"></i></button>
        </div>
        {% endif %}
        <h5 class="py-1 my-2 border-bottom">Members</h5>
        <ul class="project-users">
        {% for ridx, rlabel in [('r2','admins'),('r1','members'),('r0','observers')] %}
          {% for member in project.get(ridx) %}
          <li class="btn-user btn-user-{{ rlabel }}"><a href="#!" data-userid="{{ member.id }}">{{ member.avatar() | safe }}</a></li>
          {% endfor %}
        {% endfor %}
        {% if project.isadmin %}
          <li><button type="button" class="btn btn-action p-0"><i class="bi bi-plus-circle-dotted"></i></button></li>
        {% endif %}
        </ul>
        {% if project.isadmin %}
        <div class="text-end"><button type="button" class="action-archive-project btn btn-link btn-sm text-danger"><i
          class="bi bi-archive pe-1"></i>Archive project</button></div>
        {% endif %}
      </div>
    </form>
  </div>
  {% endfor %}
</div>

<h2 class="text-primary px-2 fs-4">Join another project</h2>
<ul class="mb-3">
  <li><a href="#!">This is Scott's public project</a></li>
  <li><a href="#!">I don't know what this is but I want to join</a></li>
  <li><a href="#!">This is a global project, eh?</a></li>
  <li><a href="#!">This is a private project</a></li>
</ul>

<h2 class="text-primary px-2 fs-4">My archived projects</h2>
<ul class="mb-3">
  <li><a href="#!">This is an old project</a></li>
  <li><a href="#!">This is another old project</a></li>
</ul>
{% endblock %}


{% block modals %}
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title project-title" id="viewTaskLabel">Project information</h5>
        <div class="float-end text-nowrap">
          <button class="btn btn-link btn-edit" data-id="0"><i class="bi bi-pencil-fill text-muted"></i></button>
          <button type="button" class="btn btn-my-close ps-1" data-bs-dismiss="modal"  aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-lg-9">
            <label class="form-label mb-1 text-muted">Description</label>
            <div class="mb-3 project-description"></div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Budget</label>
              <div class="fw-semibold project-budget"></div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Start</label>
              <div class="fw-semibold project-start"></div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Deadline</label>
              <div class="fw-semibold project-deadline"></div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Status</label>
              <div class="fw-semibold project-status"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <form id="project-form" action="{{ url_for('projects.api_project_save') }}" method="post" class="modal-content" autocomplete="off">
      <input id="iId" type="hidden" name="id" value="0" />
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title" id="editTaskLabel">Edit Project</h5>
        <div class="float-end">
          <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Save</button>
          <button type="button" class="btn btn-my-close ps-1" data-bs-dismiss="modal"
            aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input id="iTitle" type="text" class="form-control" name="title" value="" placeholder="Title" />
        </div>
        <div class="row">
          <div class="col-12 col-lg-9">
            <div class="mb-3">
              <textarea id="iDescription" name="description" class="form-control" value="" placeholder="Description"
                rows="13"></textarea>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="mb-3">
              <label for="iBudget" class="form-label mb-1 text-muted">Budget</label>
              <input id="iBudget" type="text" class="form-control" name="budget" value="" />
            </div>
            <div class="mb-3">
              <label for="iStart" class="form-label mb-1 text-muted">Start</label>
              <div class="input-group date datepicker">
                <input id="iStart" name="start" type="text" class="form-control" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="iDeadline" class="form-label mb-1 text-muted">Deadline</label>
              <div class="input-group date datepicker">
                <input id="iDeadline" name="deadline" type="text" class="form-control" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="iStatus" class="form-label mb-1 text-muted">Status</label>
              <select id="iStatus" name="status" class="form-select" aria-label="Default select example">
                <option value="0">Closed</option>
                <option value="1" selected>Open (private)</option>
                <option value="2">Open (public)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}