{% extends "layout/settings.html" %}

{% block content %}
<h2 class="page-title">
  {% if current_user.role > 0 %}
  <button type="button" class="btn btn-outline-primary btn-sm float-end" data-bs-toggle="modal"
    data-bs-target="#editModal"><i class="bi bi-plus-lg"></i></button>
  {% endif %}
  My projects
</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4 mb-4">
  {% for project in projects %}
  <div class="col">
    <{% if project.isadmin %}form action="{{ url_for('projects.api_project_lists_save') }}" method="post"{% else %}div{% endif %} data-id="{{ project.id }}" class="card card-project{% if project.isadmin %} project-admin{% endif %}">
      <div class="card-header {{ project.class }}">
        {% if project.isadmin %}
        <input type="hidden" name="pid" value="{{ project.id }}" />
        <a href="#!" class="btn btn-action btn-project-edit pt-2 pe-0 float-end" data-id="{{ project.id }}"><i class="bi bi-pencil-fill"></i></a>
        {% endif %}
        <h5 class="card-title pt-1"><a href="#!" class="btn-project-info pt-1">{{ project.title }}</a></h5>
      </div>
      <div class="card-body pb-2">
        {% if project.start or project.deadline or project.budget %}
        <div class="project-more text-muted pb-3">
          {{ project.start or '<i class="bi bi-three-dots text-muted"></i>' | safe }}
          <i class="bi bi-caret-right-fill opacity-75"></i>
          {{ project.deadline or '<i class="bi bi-three-dots text-muted"></i>' | safe }}
          {% if project.budget %}
          <div class="float-end"><i class="bi bi-piggy-bank pe-1"></i>{{ project.budget | format_number }}</div>
          {% endif %}
        </div>
        {% endif %}
        <h5>Lists</h5>
        <ul class="project-lists{% if project.isadmin %} project-dragula{% endif %}">
          {% for list in project.lists %}
          <li class="project-lists-item">
            {% if project.isadmin %}
            <i class="bi bi-grip-vertical gu-handle py-2 pe-1"></i>
            <input name="item_{{ list.id }}" type="text" class="form-control form-control-plaintext" value="{{ list.title }}" />
            <button type="button" data-lid="{{ list.id }}" class="btn btn-action btn-list-delete"><i class="bi bi-trash"></i></button>
            <!-- -TODO- disable button if list has tasks -->
            {% else %}
            <span class="py-2 flex-grow-1">{{ list.title }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% if project.isadmin %}
        <div class="d-flex mb-3" style="margin-top:-.75em">
          <input name="newitem" type="text" class="form-control border-0" value="" placeholder="Create new list" />
          <button type="submit" class="btn btn-action"><i class="bi bi-plus-circle"></i></button>
        </div>
        {% endif %}
        <h5 class="py-1 my-2 border-bottom">Members</h5>
        <div class="project-users">
        {% for ridx, rlabel in [('r2','admin'),('r1','member'),('r0','observer')] %}
          {% for member in project.get(ridx) %}
          <div data-userid="{{ member.id }}" class="btn-user btn-user-{{ rlabel }} dropdown-center order-2 order-md-5">
            {% set rn = ridx[1] | int %}
            <a href="#!" class="dropdown-toggle arrow-none text-muted" data-bs-toggle="dropdown" aria-expanded="false">{{ member.avatar(rlabel | title) | safe }}</a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-header">{{ member.name }} ({{ rlabel | title}})</h6></li>
              <li><a href="javascript:void(0);" class="dropdown-item"><i class="bi bi-person-square me-2"></i>View profile</a></li>
              {% if project.isadmin and member.id != current_user.id %}
              {% if rn < 2 %}
              <li><a href="{{ url_for('projects.api_project_members_promote', pid=project.id, uid=member.id) }}" data-tfk-ajax="post" class="dropdown-item"><i class="bi bi-caret-up-square text-success me-2"></i>Promote member</a></li>
              {% endif %}
              {% if rn > 0 %}
              <li><a href="{{ url_for('projects.api_project_members_demote', pid=project.id, uid=member.id) }}" data-tfk-ajax="post" class="dropdown-item"><i class="bi bi-caret-down-square text-warning me-2"></i>Demote member</a></li>
              {% endif %}
              <li><a href="{{ url_for('projects.api_project_members_remove', pid=project.id, uid=member.id) }}" data-tfk-confirm="Really remove {{ member.name }}?" class="dropdown-item"><i class="bi bi-trash text-danger me-2"></i>Remove</a></li>
              {% endif %}
            </ulv>
          </div>
          {% endfor %}
        {% endfor %}
        {% if project.isadmin %}
          <div><button type="button" class="btn btn-action p-0" data-bs-toggle="modal" data-bs-target="#usersModal" data-member-ids="{{ project.mids }}"><i class="bi bi-plus-circle-dotted"></i></button></div>
        {% endif %}
          </div>
        {% if project.isadmin %}
        <div class="text-end"><button type="button" class="action-archive-project btn btn-link btn-sm text-danger" data-tfk-confirm="Do you want to archive the following project?<br /><b>{{ project.title }}</b>" data-tfk-action="{{ url_for('projects.api_project_archive', pid=project.id) }}"><i
          class="bi bi-archive pe-1"></i>Archive project</button></div>
        {% endif %}
      </div>
    </{% if project.isadmin %}form{% else %}div{% endif %}>
  </div>
  {% endfor %}
</div>

<h2 class="text-primary px-2 fs-4">Join another project</h2>
<ul class="mb-3">
  <li><a href="#!">This is Scott's public project</a></li>
  <li><a href="#!">I don't know what this is but I want to join</a></li>
  <li><a href="#!">This is a global project, eh?</a></li>
  <li><a href="#!">This is a private project</a></li>
</ul>

<h2 class="text-primary px-2 fs-4">My archived projects</h2>
<ul class="mb-3">
  <li><a href="#!">This is an old project</a></li>
  <li><a href="#!">This is another old project</a></li>
</ul>
{% endblock %}


{% block modals %}
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title project-title" id="viewTaskLabel">Project information</h5>
        <div class="float-end text-nowrap">
          <button class="btn btn-link btn-edit" data-id="0"><i class="bi bi-pencil-fill text-muted"></i></button>
          <button type="button" class="btn btn-my-close ps-1" data-bs-dismiss="modal"  aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-lg-9">
            <label class="form-label mb-1 text-muted">Description</label>
            <div class="mb-3 project-description"></div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Budget</label>
              <div class="fw-semibold project-budget"></div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Start</label>
              <div class="fw-semibold project-start"></div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Deadline</label>
              <div class="fw-semibold project-deadline"></div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Status</label>
              <div class="fw-semibold project-status"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <form id="project-form" action="{{ url_for('projects.api_project_save') }}" method="post" class="modal-content" autocomplete="off">
      <input id="iId" type="hidden" name="id" value="0" />
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title" id="editTaskLabel">Edit Project</h5>
        <div class="float-end">
          <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Save</button>
          <button type="button" class="btn btn-my-close ps-1" data-bs-dismiss="modal"
            aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input id="iTitle" type="text" class="form-control" name="title" value="" placeholder="Title" />
        </div>
        <div class="row">
          <div class="col-12 col-lg-9">
            <div class="mb-3">
              <textarea id="iDescription" name="description" class="form-control" value="" placeholder="Description"
                rows="13"></textarea>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="mb-3">
              <label for="iBudget" class="form-label mb-1 text-muted">Budget</label>
              <input id="iBudget" type="text" class="form-control" name="budget" value="" />
            </div>
            <div class="mb-3">
              <label for="iStart" class="form-label mb-1 text-muted">Start</label>
              <div class="input-group date datepicker">
                <input id="iStart" name="start" type="text" class="form-control" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="iDeadline" class="form-label mb-1 text-muted">Deadline</label>
              <div class="input-group date datepicker">
                <input id="iDeadline" name="deadline" type="text" class="form-control" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="iStatus" class="form-label mb-1 text-muted">Status</label>
              <select id="iStatus" name="status" class="form-select" aria-label="Default select example">
                <option value="0">Closed</option>
                <option value="1" selected>Open (private)</option>
                <option value="2">Open (public)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-fullscreen-md-down mt-md-5 pt-md-2">
    <form action="{{ url_for('projects.api_project_members_save') }}" method="post" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="pid" value="" />
        <div class="row users-grid">
          {% for usr in users %}
          <div class="col btn-user" id="usrsel-{{ usr.id }}">
            <input type="checkbox" class="d-none" id="chk-sel-{{ usr.id }}" name="usersel" value="{{ usr.id }}" />
            <label for="chk-sel-{{ usr.id }}">{{ usr.avatar() | safe }}<small>{{ usr.name }}</small></label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add selected users</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}