{% extends "layout/projects.html" %}

{% block content %}
<h2 class="page-title">
  {% if current_user.role > 0 %}
  <button type="button" class="btn btn-outline-primary btn-sm float-end" data-bs-toggle="modal"
    data-bs-target="#editModal"><i class="bi bi-plus-lg"></i></button>
  {% endif %}
  Projects
</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4 mb-4">
  {% for project in projects %}
  <div class="col">
    <{% if project.isadmin %}form action="{{ url_for('projects.api_project_lists_save') }}" method="post"{% else %}div{% endif %} data-id="{{ project.id }}" class="card card-project{% if project.isadmin %} project-admin{% endif %}">
      <div class="card-header {{ project.class }}">
        {% if project.isadmin %}
        <input type="hidden" name="pid" value="{{ project.id }}" />
        <a href="#!" class="btn btn-action btn-project-edit pt-2 pe-0 float-end" data-id="{{ project.id }}"><i class="bi bi-pencil-fill"></i></a>
        {% endif %}
        <h5 class="card-title pt-1"><a href="{{ url_for('projects.project_view', id=project.id ) }}" class="btn-project-info pt-1">{{ project.title }}</a></h5>
      </div>
      <div class="card-body pb-2">
        {% if project.start or project.deadline or project.budget %}
        <div class="project-more text-muted pb-3">
          {{ project.start or '<i class="bi bi-three-dots text-muted"></i>' | safe }}
          <i class="bi bi-caret-right-fill opacity-75"></i>
          {{ project.deadline or '<i class="bi bi-three-dots text-muted"></i>' | safe }}
          {% if project.budget %}
          <div class="float-end"><i class="bi bi-piggy-bank pe-1"></i>{{ project.budget | format_number }}</div>
          {% endif %}
        </div>
        {% endif %}
        <h5>Lists</h5>
        <ul class="project-lists{% if project.isadmin %} project-dragula{% endif %}">
          {% for list in project.lists %}
          <li class="project-lists-item">
            {% if project.isadmin %}
            <i class="bi bi-grip-vertical gu-handle py-2 pe-1"></i>
            <input name="item_{{ list.id }}" type="text" class="form-control form-control-plaintext" value="{{ list.title }}" />
            <button type="button" data-lid="{{ list.id }}" class="btn btn-action btn-list-delete"><i class="bi bi-trash"></i></button>
            <!-- -TODO- disable button if list has tasks -->
            {% else %}
            <span class="py-2 flex-grow-1">{{ list.title }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% if project.isadmin %}
        <div class="d-flex mb-3" style="margin-top:-.75em">
          <input name="newitem" type="text" class="form-control border-0" value="" placeholder="Create new list" />
          <button type="submit" class="btn btn-action"><i class="bi bi-plus-circle"></i></button>
        </div>
        {% endif %}
        <h5 class="py-1 my-2 border-bottom">Members</h5>
        <div class="project-users">
        {% for ridx, rlabel in [('r2','admin'),('r1','member'),('r0','observer')] %}
          {% for member in project.get(ridx) %}
          <div data-userid="{{ member.id }}" class="btn-user btn-user-{{ rlabel }} dropdown-center order-2 order-md-5">
            {% set rn = ridx[1] | int %}
            <a href="#!" class="dropdown-toggle arrow-none text-muted" data-bs-toggle="dropdown" aria-expanded="false">{{ member.avatar(rlabel | title) | safe }}</a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-header">{{ member.name }} ({{ rlabel | title}})</h6></li>
              <li><a href="javascript:void(0);" class="dropdown-item"><i class="bi bi-person-square me-2"></i>View profile</a></li>
              {% if project.isadmin and member.id != current_user.id %}
              {% if rn < 2 %}
              <li><a href="{{ url_for('projects.api_project_members_promote', pid=project.id, uid=member.id) }}" data-tfk-ajax="post" class="dropdown-item"><i class="bi bi-caret-up-square text-success me-2"></i>Promote member</a></li>
              {% endif %}
              {% if rn > 0 %}
              <li><a href="{{ url_for('projects.api_project_members_demote', pid=project.id, uid=member.id) }}" data-tfk-ajax="post" class="dropdown-item"><i class="bi bi-caret-down-square text-warning me-2"></i>Demote member</a></li>
              {% endif %}
              <li><a href="{{ url_for('projects.api_project_members_remove', pid=project.id, uid=member.id) }}" data-tfk-confirm="Really remove {{ member.name }}?" class="dropdown-item"><i class="bi bi-trash text-danger me-2"></i>Remove</a></li>
              {% endif %}
            </ulv>
          </div>
          {% endfor %}
        {% endfor %}
        {% if project.isadmin %}
          <div><button type="button" class="btn btn-action p-0" data-bs-toggle="modal" data-bs-target="#usersModal" data-member-ids="{{ project.mids }}" data-project-id="{{ project.id }}"><i class="bi bi-plus-circle-dotted"></i></button></div>
        {% endif %}
        </div>
      </div>
    </{% if project.isadmin %}form{% else %}div{% endif %}>
  </div>
  {% endfor %}
</div>
<h5 class="text-primary px-2 fw-normal mt-5 mb-2 py-2 border-bottom">My archived projects</h5>
{% for item in archived %}
<div class="px-2 my-1 d-flex">
  <div class="pe-2"><i class="bi bi-archive"></i></div>
  <div><a href="{{ url_for('projects.project_view', id=item.id) }}" class="text-decoration-none link-dark">{{ item.title }}</a></div>
</div>
  {% endfor %}

{% endblock %}
