{% extends "layout/settings.html" %}

{% block content %}

<h2 class="page-title">Manage Users</h2>

{% if data %}
<table class="table table-hover" style="max-width:960px">
    <thead>
       <tr>
          <th>Name</th>
          <th class="d-none d-md-table-cell">Email</th>
          <th>Role</th>
          <th>
            {% if g.user.roles > 2 %}
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-plus"></i></button>
            {% endif %}
          </th>
       </tr>
    </thead>
    
    <tbody>
      {% for item in data %}
        <tr class="row-user align-middle" data-id="{{ item.id }}">
            <th>
                <span class="btn-user float-start me-2">{{ item.avatar() | safe }}</span>
                {{ item.name }}
            </th>
            <td class="d-none d-md-table-cell">{{ item.email }}</td>
            <td>{{ roles[item.roles] }}</td>
            <td>
                {% if item.id != g.user.id and item.roles < g.user.roles %}
                <a href="#!" class="btn btn-sm btn-outline-primary">Edit</a>
                {% endif %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block modals %}

<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-fullscreen-md-down modal-dialog-scrollable">
    <form class="modal-content" autocomplete="off">
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title" id="editUserLabel">Edit User</h5>
        <div class="float-end">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-my-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="iName" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" name="name" class="form-control" id="iName" placeholder="Full name" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="iEmail" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control" id="iEmail" placeholder="Email address" autocomplete="off" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="ipwd" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" name="pwssword" class="form-control" id="iPwd" autocomplete="new-password" />
            <div class="small text-muted">Enter password only to update it</div>
          </div>
        </div>
        <div class="row">
          <label for="iRole" class="col-sm-3 col-form-label">Role</label>
          <div class="col-sm-9">
            <select id="iRole" name="roles" class="form-select">
              {% for r in roles %} 
              <option value="{{ r }}">{{ roles[r] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
