{% extends "layout/settings.html" %}

{% block content %}

<h2 class="page-title">
  {% if g.user.roles > 2 %}
  <button type="button" class="btn btn-outline-primary btn-sm float-end" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-person-plus-fill"></i></button>
  {% endif %}
  Manage Users
</h2>

{% if data %}
<table class="table table-freak table-striped table-hover">
    <thead>
       <tr>
          <th>Name</th>
          <th class="d-none d-lg-table-cell">Email</th>
          <th class="d-none d-md-table-cell">Last login</th>
          <th>Role</th>
       </tr>
    </thead>
    
    <tbody>
      {% for item in data %}
        <tr class="row-user align-middle" data-id="{{ item.id }}">
            <th>
                <span class="btn-user float-start me-2">{{ item.avatar() | safe }}</span>
                <span class="user-name">{{ item.name }}</span>
            </th>
            <td class="d-none d-lg-table-cell">{{ item.email }}</td>
            <td class="d-none d-md-table-cell">{{ item.lastlogin | user_time }}</td>
            <td>
              {% if item.id != g.user.id and g.user.roles > 3 %}
              <button type="button" class="btn btn-link btn-delete float-end" data-action="/api/users/delete/{{ item.id }}"><i class="bi bi-trash"></i></button>
              {% endif %}
              {% if item.id != g.user.id and g.user.roles > 2 and item.roles < g.user.roles %}
              <button type="button" class="btn btn-link btn-edit float-end"><i class="bi bi-pencil-fill"></i></button>
              {% endif %}
              {{ roles[item.roles] }}
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block modals %}

<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-fullscreen-md-down modal-dialog-scrollable">
    <form id="user-form" action="/api/users/save" method="POST" class="modal-content" autocomplete="off">
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title" id="editUserLabel">Edit User</h5>
        <div class="float-end">
          <input type="hidden" name="id" value="" />
          <button type="submit" class="btn btn-my-save"><i class="bi bi-save"></i></button>
          <button type="button" class="btn btn-my-close ps-1" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="iName" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" name="name" class="form-control" id="iName" placeholder="Full name" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="iEmail" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control" id="iEmail" placeholder="Email address" autocomplete="off" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="ipwd" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" name="password" class="form-control" id="iPwd" autocomplete="new-password" />
            <div class="small text-muted">Enter password only to update it</div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="iTz" class="col-sm-3 col-form-label">Timezone</label>
          <div class="col-sm-9">
            <select id="iTz" name="timezone" class="form-select">
            {% for tzg in timezones %}
              {% if timezones[tzg]|length > 1 %}
              <optgroup label="{{ tzg }}">
                {% for tz in timezones[tzg] %}
                <option value="{{ tzg }}/{{ tz }}"{% if tzg+"/"+tz == g.user.timezone %} selected{% endif %}>{{ tz }}</option>
                {% endfor %}
              </optgroup>
              {% else %}
              <option value="{{ tzg }}">{{ tzg }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <label for="iRoles" class="col-sm-3 col-form-label">Role</label>
          <div class="col-sm-9">
            <select id="iRoles" name="roles" class="form-select">
              {% for r in roles %}
              {% if r < g.user.roles %}
              <option value="{{ r }}">{{ roles[r] }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Save</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg me-2"></i>Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
