<!DOCTYPE html>
<html>
<head>
  <title>TaskFreak</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% for item in g.css %}
  <link rel="stylesheet" type="text/css" href="{{ item }}">
  {% endfor %}
  <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<body>
  
<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{ title }}</a>
    {% block headerform %}
    {% endblock %}
    <div class="d-flex">
    {% block navbuttons %}

    {% if current_user.is_authenticated %}
      <a href="#!" class="hamburger d-block d-lg-none">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </a>
      <div class="dropdown">
        <a class="btn-nav btn-user dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ current_user.avatar() | safe }}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <li><a class="dropdown-item" href="{{ url_for('projects.project_list') }}"><i class="bi bi-briefcase-fill me-2"></i>Projects &amp; Lists</a></li>
          <li><a class="dropdown-item" href="{{ url_for('settings.preferences') }}"><i class="bi bi-house-heart-fill me-2"></i>Preferences</a></li>
          <li><a class="dropdown-item" href="{{ url_for('settings.account') }}"><i class="bi bi-person-lines-fill me-2"></i>Account</a></li>
          {% if current_user.role > 2 %}
          <li><a class="dropdown-item" href="{{ url_for('settings.users') }}"><i class="bi bi-people-fill me-2"></i>Users</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="{{ url_for('user.logout') }}"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
        </ul>
      </div>
    {% endif %}

    {% endblock %}
    </div>
  </div>
</nav>

<div class="wrapper">

  {% block sidebar %}
  {% endblock %}

  <section class="main container-fluid page-{{ menu }}">

    {% block content %}
    {% endblock %}

  </section>
  
</div>

{% block modals %}

{% endblock %}

<div class="modal" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <form action="#!" method="post" class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              ...
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Yes, confirm</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel</button>  
          </div>
      </form>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">

  <div id="live-toast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body"></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  {% with messages = get_flashed_messages(True) %}
      {% if messages %}
          {% for cat, message in messages %}
          <div class="toast flash align-items-center {{ cat | toast_class }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
          {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}

</div>

{% for item in g.jscript %}
<script type="text/javascript" src="{{ item }}"></script>
{% endfor %}
</body>
</html>