{% extends "layout/settings.html" %}

{% block modals %}

<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <form id="project-form" action="{{ url_for('projects.api_project_save') }}" method="post" class="modal-content" autocomplete="off">
      <input id="iId" type="hidden" name="id" value="0" />
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title" id="editTaskLabel">Edit Project</h5>
        <div class="float-end">
          <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Save</button>
          <button type="button" class="btn btn-my-close ps-1" data-bs-dismiss="modal"
            aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input id="iTitle" type="text" class="form-control" name="title" value="" placeholder="Title" />
        </div>
        <div class="row">
          <div class="col-12 col-lg-9">
            <div class="mb-3">
              <textarea id="iDescription" name="description" class="form-control" value="" placeholder="Description"
                rows="13"></textarea>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="mb-3">
              <label for="iStart" class="form-label mb-1 text-muted">Start</label>
              <div class="input-group date datepicker">
                <input id="iStart" name="start" type="text" class="form-control" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="iDeadline" class="form-label mb-1 text-muted">Deadline</label>
              <div class="input-group date datepicker">
                <input id="iDeadline" name="deadline" type="text" class="form-control" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="iBudget" class="form-label mb-1 text-muted">Budget</label>
              <input id="iBudget" type="text" class="form-control" name="budget" value="" />
            </div>
            <div class="mb-3">
              <label for="iStatus" class="form-label mb-1 text-muted">Status</label>
              <select id="iStatus" name="status" class="form-select" aria-label="Default select example">
                <option value="0">Closed</option>
                <option value="1" selected>Open (private)</option>
                <option value="2">Open (public)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-fullscreen-md-down mt-md-5 pt-md-2">
    <form action="{{ url_for('projects.api_project_members_save') }}" method="post" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="pid" value="" />
        <div class="row users-grid">
          {% for usr in users %}
          <div class="col btn-user" id="usrsel-{{ usr.id }}">
            <input type="checkbox" class="d-none" id="chk-sel-{{ usr.id }}" name="usersel" value="{{ usr.id }}" />
            <label for="chk-sel-{{ usr.id }}">{{ usr.avatar() | safe }}<small>{{ usr.name }}</small></label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add selected users</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}