{% extends "layout/page.html" %}

{% block headerform %}

<form action="index.html" method="get" class="d-none d-lg-flex" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
  <div id="original-filter-status">
    <input type="checkbox" class="d-none" id="chk-status-0" name="status" value="0" autocomplete="off" />
    <input type="checkbox" class="d-none" id="chk-status-1" name="status" value="1" autocomplete="off" checked />
    <input type="checkbox" class="d-none" id="chk-status-2" name="status" value="2" autocomplete="off" checked />
    <input type="checkbox" class="d-none" id="chk-status-3" name="status" value="3" autocomplete="off" checked />
    <input type="checkbox" class="d-none" id="chk-status-4" name="status" value="4" autocomplete="off" />
    <div class="btn-group btn-group-sm btn-status" role="group" aria-label="Filter by task status">
      <label class="btn btn-outline-secondary" for="chk-status-0" title="Parked"><i class="bi bi-clock"></i></label>
      <label class="btn btn-outline-secondary btn-active" for="chk-status-1" title="Assessment"><i class='bi bi-lightbulb'></i></label>
      <label class="btn btn-outline-secondary btn-active" for="chk-status-2" title="In progress"><i class='bi bi-lightning'></i></label>
      <label class="btn btn-outline-secondary btn-active" for="chk-status-3" title="Review"><i class='bi bi-clipboard-check'></i></label>
      <label class="btn btn-outline-secondary" for="chk-status-4" title="Completed"><i class='bi bi-flag'></i></label>
    </div>
  </div>
  <input type="radio" class="d-none" id="rdo-user-all" autocomplete="off" checked />
  <input type="radio" class="d-none" id="rdo-user-me" autocomplete="off" />
  <div class="btn-group btn-group-sm btn-users ms-2" role="group" aria-label="Filter by user">
    <label class="btn btn-outline-secondary" for="rdo-user-me"><i class='bi bi-person'></i></label>
    <label class="btn btn-outline-secondary btn-active" for="rdo-user-all"><i class='bi bi-people'></i></label>
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="bi bi-list-check"></i></button>
  </div>
</form>

{% endblock %}

{% block navbuttons %}
<a href="#!" class="btn-nav d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#searchModal">
  <i class="bi bi-search"></i>
</a>
<button type="button" class="btn-nav" data-bs-toggle="modal" data-bs-target="#editModal">
  <i class="bi bi-plus-square-fill"></i>
</button>
{{ super() }}
{% endblock %}

{% block sidebar %}

<nav class="sidebar">
  <h4>Views</h4>
  <ul>
    <li><a href="{{ url_for('list') }}" class="{% if menu=='list' %}active{% endif %}"><i class="bi bi-list-task me-2"></i>List</a></li>
    <li><a href="{{ url_for('calendar') }}" class="{% if menu=='calendar' %}active{% endif %}"><i class="bi bi-calendar-week me-2"></i>Calendar</a></li>
    <li><a href="{{ url_for('kanban') }}" class="{% if menu=='kanban' %}active{% endif %}"><i class="bi bi-kanban me-2"></i>Kanban</a></li>
  </ul>
  <h4>
    <a href="{{ url_for('settings_projects') }}" class="float-end"><i class="bi bi-pencil-fill"></i></a>
    Projects
  </h4>
  <ul>
    <li><a href="#"><i class="bi bi-check-all me-2"></i>All projects</a></li>
    <li><a href="#">Project 1 is a long title but it works</a></li>
    <li><a href="#">Project 2</a></li>
    <li>
      <a href="#" class="opened">Project 3</a>
      <ul>
        <li><a href="#">List 3.1</a></li>
        <li><a href="#" class="active">List 3.2 is a long title but it still works</a></li>
        <li><a href="#">List 3.3</a></li>
        <li><a href="#">List 3.4</a></li>
      </ul>
    </li>
    <li><a href="#">Project 4</a></li>
    <li><a href="#">Project 5</a></li>
    <li><a href="#">Project 6</a></li>
  </ul>
</nav>

{% endblock %}


{% block modals %}

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterOptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-fullscreen-sm-down mt-sm-5 pt-sm-2">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter by user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="original-filter-users" class="list-group list-group-flush">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="12">
            Leo
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="14">
            Phil
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="4">
            Sioeli
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="2" checked>
            Stan
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="6">
            Thomas
          </label>
        </div>
        <div class="border-top pt-3">
          <button type="submit" class="btn btn-primary">Apply filters</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchOptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Tasks</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        </div>
        <h6>Filter by status</h6>
        <div id="search-filter-status" class="mb-3">
          <!-- placeholder for status filters -->
        </div>
        <h6>Filter by user</h6>
        <div id="search-filter-users" class="mb-3">
          <!-- placeholder for users filters -->
        </div>
        <div class="border-top pt-3">
          <button type="submit" class="btn btn-primary">Search &amp; Filter</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewTaskLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header modal-smaller">
        <h5 class="modal-title" id="viewTaskLabel">This is the task title, which can be quite long, and covering more than a simple line but it should work in any case</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="container-fluid d-flex" style="height:100%">
          <div class="row align-items-md-stretch">
            <div class="task-panel col-12 col-md-8 p-3 order-2 order-md-1">
              <div class="task-categorization">
                Project #1 title &rsaquo; Project list 1.1
              </div>
              <hr />
              <div class="task-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Volutpat ac tincidunt vitae semper quis. Egestas pretium aenean pharetra magna ac. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.
                  Vel orci porta non pulvinar neque laoreet suspendisse interdum. Rhoncus aenean vel elit scelerisque mauris. Turpis cursus in hac habitasse platea dictumst. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Netus et malesuada fames ac turpis. Duis ut diam quam nulla porttitor massa. Dui ut ornare lectus sit. Bibendum neque egestas congue quisque egestas diam in arcu. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Tellus cras adipiscing enim eu turpis. At erat pellentesque adipiscing commodo. Feugiat in fermentum posuere urna nec.</p>
              </div>
              <hr />
              <button class="btn btn-link btn-sm float-end" type="button" style="padding-top:0;margin-top:-4px"><i class="bi bi-file-earmark-arrow-up-fill bi-2x text-muted"></i></button>
              <h6>Attachments</h6>
              <hr />
              <h6 class="mb-3">Activity</h6>
              <div class="activity-nav mb-3">
                <button type="button" class="btn btn-sm btn-light me-1">All</a>
                <button type="button" class="btn btn-sm btn-secondary me-1">Comments</a>
                <button type="button" class="btn btn-sm btn-light me-1">History</a>
                <button type="button" class="btn btn-sm btn-light">Timelog</a>
              </div>
              <div class="task-activity">
                <form class="comment mb-3">
                  <textarea class="form-control" placeholder="Add a comment..."></textarea>
                </form>
                <div class="comment d-flex mb-3">
                  <div class="pe-2">
                    <img src="static/img/user_stan.png" class="user-thumb rounded-circle" />
                  </div>
                  <div class="flex-grow-1">
                    <strong>Stan Ozier &dash; 12 July 2022, 13:45</strong>
                    <div>Lorem ipsum dolor sit amet, you know.</div>
                  </div>
                </div>
                <div class="comment d-flex mb-3">
                  <div class="pe-2">
                    <img src="static/img/user_sio.png" class="user-thumb rounded-circle" />
                  </div>
                  <div class="flex-grow-1">
                    <strong>Sio Tonga &dash; 10 July 2022, 17:29</strong>
                    <div>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="task-meta col-12 col-md-4 p-3 bg-light order-1 order-md-2">
              <button class="btn btn-link float-end" data-bs-target="#editModal" data-bs-toggle="modal"><i class="bi bi-pencil-square bi-2x text-muted"></i></button>
              <div class="task-users mb-3">
                <a href="#!"><img src="static/img/user_stan.png" class="rounded-circle" /></a>
                <a href="#!"><img src="static/img/user_sio.png" class="rounded-circle" /></a>
                <a href="#!"><span class="rounded-circle">PB</span></a>
                <a href="#!"><span class="rounded-circle">SP</span></a>
                <a href="#!"><span class="rounded-circle">TT</span></a>
              </div>
              <div class="task-priority mb-3 ps-2 py-1 bg-white border-start border-4">High Priority</div>
              <div class="task-schedule row mb-3">
                <div class="col-6">
                  <strong>Start</strong>
                  <div>12 Jul 2022</div>
                </div>
                <div class="col-6">
                  <strong>Deadline</strong>
                  <div>16 Jul 2022</div>
                </div>
              </div>
              <div class="progress mb-3" style="height:6px">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="task-timelog row mb-3">
                <div class="col-6">
                  <strong>Time spent</strong>
                  <div>4 hours</div>
                </div>
                <div class="col-6">
                  <strong>Estimate</strong>
                  <div>2 days</div>
                </div>
              </div>
              <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
              <div class="task-status">
                <i class="bi bi-lightning-fill"></i>
                <span>In Progress</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editTaskLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <form class="modal-content">
      <div class="modal-header modal-smaller bg-light">
        <h5 class="modal-title" id="editTaskLabel">Edit Task</h5>
        <div class="float-end">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-my-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="text" class="form-control" name="title" value="" placeholder="Title" />
        </div>
        <div class="row">
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-12 col-lg-6 mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option value="0" selected>- Select Project -</option>
                  <option value="1">Project #1</option>
                  <option value="2">Project #2</option>
                  <option value="3">Project #3</option>
                </select>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option value="0" selected>- Select List -</option>
                  <option value="1">List #1</option>
                  <option value="2">List #2</option>
                  <option value="3">List #3</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="task-desc-field" value="" placeholder="Description"
                rows="10"></textarea>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Assign to</label>
              <div class="dropdown">
                <a class="btn btn-outline-dropdown dropdown-toggle d-flex justify-content-between" href="#"
                  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <span>Users (<span class="dropdown-count">0</span>)</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <div class="dropdown-item">
                      <input id="sel-user-1" type="checkbox" class="form-check-input" />
                      <label for="sel-user-1" class="form-check-label">Leo</label>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown-item">
                      <input id="sel-user-2" type="checkbox" class="form-check-input" />
                      <label for="sel-user-2" class="form-check-label">Phil</label>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown-item">
                      <input id="sel-user-3" type="checkbox" class="form-check-input" />
                      <label for="sel-user-3" class="form-check-label">Sio</label>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown-item">
                      <input id="sel-user-4" type="checkbox" class="form-check-input" />
                      <label for="sel-user-4" class="form-check-label">Stan</label>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown-item">
                      <input id="sel-user-5" type="checkbox" class="form-check-input" />
                      <label for="sel-user-5" class="form-check-label">Thomas</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Priority</label>
              <select class="form-select" aria-label="Default select example">
                <option value="3">Urgent</option>
                <option value="2">High</option>
                <option value="1">Medium</option>
                <option value="0" selected>Low</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Start</label>
              <div class="input-group date datepicker">
                <input type="text" class="form-control" id="date" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Deadline</label>
              <div class="input-group date datepicker">
                <input type="text" class="form-control" id="date" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar-date"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Estimated time</label>
              <input type="text" name="estimate" class="form-control" placeholder="3d, 2h, 1:30, 30m" />
            </div>
            <div class="mb-3">
              <label class="form-label mb-1 text-muted">Status</label>
              <select class="form-select" aria-label="Default select example">
                <option value="0" selected>Parked</option>
                <option value="1">Assessment</option>
                <option value="2">In Progress</option>
                <option value="3">Review</option>
                <option value="4">Completed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}