
body {
  overflow: hidden;
  height: 100vh;
}
.sidebar {
  display: none;
  padding: 0;
  overflow-y: auto;
  background-color: #516789;
}
.sidebar h4 {
  color: rgba(255,255,255,.75);
  font-size: .92em;
  font-style: italic;
  margin: 0;
  padding: 0.75em 0.5em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,.5);
  background-color: rgba(0,0,0,.25);
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.35);
}
.sidebar li a {
  display: block;
  text-decoration: none;
  padding: .5em;
  color: rgba(255,255,255,.5);
}
.sidebar li a.active {
  color: #f8fdc2;
  background-color: rgba(255,255,255,.15);
}
.sidebar ul li ul {
  padding: 0;
  border: 0 none;
}
.sidebar ul li ul li {
  border-top: 1px dotted rgba(0,0,0,.25);
  border-bottom: 0 none !important;
  background-color: rgba(255,255,255,.05);
}
.sidebar ul li ul li a {
  padding-left: 1em;
}
.sidebar ul li ul li a.active {
  background-color: transparent;
}
.main {
  padding: 1rem 1rem 5rem;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .wrapper {
    display: flex;
    height: calc(100vh - 56px);
  }
  .sidebar {
    display: block;
    flex: 1 0 14rem;
  }
  .sidebar li a:not(.active):hover {
    color: rgba(255,255,255,.75);
    background-color: rgba(0,0,0,.05);
  }
  .main {
    background-color: #f3f3f3;
    
  }
}