:root {
  --bs-primary-rgb: 13,110,201;
}

/* TOP NAV */
.btn-nav {
  color: #888;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 2px 6px 2px 6px;
  line-height: 1;
  background: transparent;
  border: 0 none;
}
.btn-nav:hover {
  color: #ccc;
}
.btn-nav i {
  font-size: 1.5em; /* 1.75 for box icons */
}
.btn-user img {
  height: 1.75em;
}
.btn-nav.btn-user {
  padding: 0 6px;
}
.btn-nav.btn-user img {
  height: 1.9em;
  background-color: #666;
  padding: 0.05em;
}
.btn-user span {
  display: inline-block;
  height: 1.75em;
  width: 1.75em;
  color: #ddd;
  background-color: #475977;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  line-height: 1.65;
}
.btn-user.dropdown-toggle::after {
  display: none;
}
.btn-status i, .btn-users i {
  font-size: 1.35em;
}
.btn-status .btn-active, .btn-users .btn-active {
/*  color: #111;
  background-color: rgba(255,255,255,.9);*/
  color: #fff;
}
.hamburger {
  height: 26px;
  width: 32px;
  z-index: 2;
  padding: 5px 4px 0;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 1px;
  background-color: #888;
  margin-bottom: 5px;
}
.hamburger:hover .line {
  background-color: #ccc;
}
/* MODAL MODS */
.modal-header.modal-smaller {
  padding: 6px 16px;
}
.btn-my-close {
  border: 0 none;
  color: #999;
  font-size: 1.75em;
}
.btn-my-save {
  border: 0 none;
  color: #0d6efd;
}
.btn-outline-dropdown {
  border: 1px solid #ccc;
}
.dropdown-toggle.btn-outline-dropdown::after {
  margin-top: 10px;
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  padding: 0;
  overflow-y: auto;
  background-color: #1f355a;
  top: -100vh;
  right: 0;
  width: 100%;
  max-width: 440px;
  height: calc(100vh - 56px);
  transition: top 250ms ease-out;
}
.sidebar.show {
  top: 56px;
  z-index: 99;
}
.sidebar h4 {
  color: rgba(255,255,255,.75);
  font-size: .85em;
  font-style: italic;
  margin: 1em 0.5em 0.25em;
  padding: 0.25em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,.15);
}
.sidebar h4 a {
  opacity: 0;
}
.sidebar h4:hover a {
  opacity: 1;
}
.sidebar h4 a i {
  color: rgba(255,255,255,.5);
}
.sidebar h4 a:hover i {
  color: rgba(255,255,255,.75);
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar li a {
  display: block;
  text-decoration: none;
  padding: .35em .75em;
  color: rgba(255,255,255,.5);
}
.sidebar li a.active, .sidebar li a.opened {
  color: #62a2ff;
}
.sidebar li a.active {
  background-color: rgba(0,0,0,.1);
}
.sidebar ul li ul {
  padding: 0;
  border: 0 none;
}
.sidebar ul li ul li a {
  padding-left: 1.5em;
}
/*.sidebar ul li ul li a.active {
  background-color: transparent;
}*/

/* CONTENT */
.main {
  padding: 1rem 1rem;
  overflow-y: auto;
}
.page-title {
  font-size: 1.25em;
  background-color: #eff3f6;
  padding: 0.5em 1.5em;
  margin: -0.75em -0.8em 1em;
  font-weight: normal;
  border-bottom: 1px solid #e3e9ec;
}
.page-title .btn {
  margin-top: -5px;
}
.btn-action {
  border: 0 none;
  opacity: .35;
}
.btn.btn-action:disabled {
  opacity: .2;
}
.btn-action:hover {
  opacity: .85;
}
.btn-action:hover i.bi-trash {
  color: #c33;
}
.bi-2x {
  font-size: 1.25em;
}
.table-freak thead tr {
  background-color: #475977;
}
.table-freak thead tr th {
  color: rgba(255,255,255,.9);
  font-weight: 500;
}
.table-freak thead tr th .btn-link {
  padding: 0 .75em !important;
  color: rgba(255,255,255,.8);
}
.table-freak thead tr th .btn-link:hover {
  color: rgba(255,255,255,1);
}
.table-freak tbody .btn-link {
  padding: 0 .5em !important;
  color: #336699;
}
.table-freak tbody .btn-link:hover {
  color: #1166ee;
}
.table-freak tbody .btn-link.btn-delete {
  padding: 0 .5em !important;
  color: #bb6969;
}
.table-freak tbody .btn-link.btn-delete:hover {
  color: #cc3333;
}
/* RESPONSIVE STUFF */

@media (min-width: 992px) {
  body {
    overflow: hidden;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    height: calc(100vh - 56px);
  }
  .sidebar {
    display: block;
    position: static;
    top: auto;
    right: auto;
    height: auto;
    flex: 1 0 14rem;
  }
  .sidebar li a::before {
    content: "\F234";
    font-family: "bootstrap-icons";
    font-size: .8em;
    margin-right: -5px;
    padding-top: 3px;
    padding-left: 5px;
    text-align: right;
    float: right;
    opacity: 0;
  }
  .sidebar li a.active::before {
    content: "\F231";
    opacity: 1;
  }
  .sidebar li a:not(.active):hover {
    color: rgba(255,255,255,.75);
  }
  .sidebar li a:not(.active):hover::before {
    content: "\F234";
    opacity: 1;
  }
  .main {
    background-color: rgb(250,251,254);
  }
}

#searchModal .modal-body {
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#searchModal .btn-status label {
  color: #aaa;
}
#searchModal .btn-status label.btn-active {
  color: #0d6efd;
}

/* TASK LIST */
.task-row, .task-header {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.task-list .task-row {
  border-bottom: 1px solid #d9d9d9;
}
.task-list .task-header {
  border-radius: 3px;
  background-color: #475977;
  border-bottom: 0 none;
}
.task-list .task-header > div {
  color: #fff;
}
.task-list .task-row:nth-child(odd) {
  background-color: #f9f9f9;
}
.task-row .task-deadline {
  flex: 0 0 45px;
  padding: 0 6px 0 3px;
  line-height: 1;
  text-align: center;
}
.task-row .task-deadline {
  padding: 5px 6px 0px 4px;
  border-left: 4px solid #999;
  border-radius: 3px;
  align-self: stretch;
  background-color:  #eee;
}
.task-row .task-deadline.priority-3 {
  border-left-color: #dc3545;
}
.task-row .task-deadline.priority-2 {
  border-left-color: #ffc107;
}
.task-row .task-deadline.priority-1 {
  border-left-color: #0dcaf0;
}
.task-row .task-deadline big {
  display: block;
  padding-top: 1px;
  font-size: 1em;
}
.task-row .task-deadline span {
  text-transform: uppercase;
  font-size: 11px;
}
.task-list .task-description {
  flex: 1;
  min-width: 200px;
}
.task-row .task-description a.task-title {
  display: block;
  flex: 1;
  padding-right: .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3366cc; /* c33 for overdue tasks */
  text-decoration: none;
}
.task-row .task-description a.task-title:hover {
  color: #111;
}
.task-row .task-description .task-comments {
  flex: 0 0 3em;
  display: flex;
  color: #444;
  padding-top: 0.25em;
}
.task-row .task-description .task-comments span {
  display: inline-block;
  padding-left: 4px;
}
.task-row .task-description .task-project {
  color: #999;
}
.task-row .task-description .task-project a {
  color: #666;
  text-decoration: none;
}
.task-row .task-description div a:hover {
  color: #111;
}
.task-list .task-users {
  flex: 1 0 auto;
}
.task-row .task-users {
  flex: 0 1 40%;
  padding-top: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
.task-users a img, img.user-thumb {
  height: 2em;
}
.task-users a span {
  display: inline-block;
  height: 2em;
  width: 2em;
  color: rgba(255,255,255,.75);
  font-weight: 500;
  background-color: rgba(0,0,0,.5);
  text-decoration: none;
  text-align: center;
  line-height: 1.75;
}
.task-list .task-status {
  flex: 0 0 160px;
  padding-right: .5em;
}
.task-row .task-status {
  flex: 0 0 55%;
  padding-left: 50px;
}
.task-row .task-progress {
  margin-top: 0.75em;
  height: 6px;
}
.task-row .task-break {
  flex-basis: 100%;
  height: 0;
  border-top: 1px dotted #d6d6d6;
  margin-left: 50px;
}
.task-row .task-actions {
  flex: 0 0 20px;
  padding-top: .15em;
}
.task-row .task-actions .dropdown-toggle::after {
  display: none;
}
@media (min-width: 768px) {
  .task-row .task-break {
    display: none;
  }
  .task-row .task-deadline {
    margin-left: 0.4em;
  }
  .task-list .task-users {
    flex: 0 0 156px;
    text-align: left;
  }
  .task-row .task-users {
    flex-basis: 130px;
  }
  .task-row .task-status {
    flex: 0 0 160px;
    padding-left: 0;
  }
  .task-row .task-actions {
    padding-top: 1em;
  }
}
@media (min-width: 992px) {
  textarea#task-desc-field {
    height:  440px;
  }
}

/* TASK VIEW */
#viewModal hr {
  border-top-color: #ccc;
}
#viewModal .task-users a {
  display: inline-block;
  margin-bottom: 5px;
}
#viewModal .task-users a img {
  height: 3em;
}
#viewModal .task-users a span {
  height: 3em;
  width: 3em;
  line-height: 2.75;
}
#viewModal .task-meta strong {
  text-transform: uppercase;
  font-size: .8em;
  color: #999;
}
#viewModal .task-status i {
  vertical-align: middle;
}
#viewModal .task-status span {
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
}
#viewModal .task-activity strong {
  font-weight: 500;
}

/* TASK CALENDAR */
.task-calendar a {
  color: #333;
  text-decoration: none;
}
.task-calendar .fc-daygrid-event.priority-3, .task-calendar .priority-3 .fc-list-event-dot {
  background-color: #dc3545;
  border-color: #dc3545;
}
.task-calendar .fc-daygrid-event.priority-2, .task-calendar .priority-2 .fc-list-event-dot {
  background-color: #ffc107;
  border-color: #ffc107;
}
.task-calendar .fc-daygrid-event.priority-1, .task-calendar .priority-1 .fc-list-event-dot {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.task-calendar .fc-daygrid-event.priority-0, .task-calendar .priority-0 .fc-list-event-dot {
  background-color: #999;
  border-color: #999;
}
.task-calendar .fc-daygrid-event.completed, .task-calendar .completed .fc-list-event-dot {
  background-color: #198754;
  border-color: #198754;
}
/* TASK KANBAN */
.kanban-board {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
}
@media (min-width: 992px) {
  .kanban-board {
    height: 100%;
  }
}
.kanban-list {
  display: inline-block;
  width: 18rem;
  padding: 0 .5rem;
  border: 1px solid #eef2f7;
  vertical-align: top;
  margin-bottom: 24px;
  border-radius: 0.25rem;
  background-color: #ecf0f9;
}
.kanban-list:not(:last-child) {
  margin-right: .5rem;
}
.kanban-header {
  font-size: 1em;
  color: #666;
  padding: 0.5rem 1rem;
  margin: 0 -.5rem .25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.kanban-tasks {
  min-height: 100px;
  position: relative;
  /* height: 74vh;
  overflow-y: auto; */
}
.kanban-tasks::before {
  content: "No Tasks";
  position: absolute;
  color: #999;
  text-transform: uppercase;
  line-height: 85px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.kanban-item {
  border: 0 none;
  background-color: #fff;
}
.badge.bg-normal {
  background-color: rgba(0,0,0,.3);
}
.kanban-item a.task-title {
  color: #111;
  text-decoration: none;
  white-space: pre-wrap;
}
.kanban-item .task-comments small {
  padding-left: 4px;
}
.kanban-item .dropdown-toggle::after {
  display: none;
}

/* PROJECTS */
.card-project .project-no-list small {
  display: block;
}
.card-project h5 {
  font-size: 1em;
}
ul.project-lists {
  position: relative;
  padding-left: 0;
  min-height: 3em;
}
ul.project-lists::before {
  content: "KANBAN BASED ON TASK STATUS";
  font-weight: 500;
  position: absolute;
  padding: .5em 0;
  color: #999;
  width: 100%;
  text-align: center;
  background-color: #fafbff;
}
ul.project-lists li {
  position: relative;
  background-color: #fff;
  border-bottom: 1px dotted #ccc;
}
ul.project-lists li:first-child {
  border-top: 1px dotted #ccc;
}
li.project-lists-item {
  display: flex;
}
li.project-lists-item > * {
  display: block;
  flex: 0;
}
li.project-lists-item input {
  flex: 1;
}
ul.project-users {
  padding-left: 0;
}
ul.project-users li {
  display: inline-block;
  margin-right: .25em;
  list-style: none;
}
ul.project-users li a img {
  height: 2.5em;
}
ul.project-users li a span {
  height: 2.5em;
  width: 2.5em;
  line-height: 2.35;
}
ul.project-users li .btn-action i.bi {
  font-size: 2.25em;
  line-height: 1;
}

/* Dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gu-mirror .btn-action {
  opacity: .1;
}
.gu-handle {
  cursor: move;
}